*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div{
    height: 33.33vh;
    border: 0;
}

input[type=number]{

    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 5em;
    text-align: center;
    border: 0;
    outline: none;
}

.farenheit{
    border-bottom:4px solid white ;
    border-top:4px solid white ;
}